body{
  background-color: orange;

}
td {
  background-color: gray;
  color: red;
  text-decoration: thick;
}
th{
  background-color: gray;
  color: black;
  
}
.cell {
  color: black;
  border-spacing: 30px;
  line-height: 25px;
  text-indent: 5px;
  border-width: thick;
}

