body{
  background-color: orange;
}
td {
  background-color: gray;
  text-decoration: thick;
  color: black;
}
th{
  background-color: green;
  font-weight: bold;
}
.cell {
  color: black;
  text-decoration: thick;
  border-spacing: 30px;
  line-height: 25px;
  text-indent: 5px;
  font-weight: bold;

}
.hours{
  color: black;
  font-weight: bold;
  background-color: green;
}
.total {
  color: black;
  font-weight: bold;
}
.empty{
  background-color: green;
}